<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Jon Sakas</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Jon Sakas">
  <% for (var chunk in htmlWebpackPlugin.options.head) { %>
    <script src="<%= htmlWebpackPlugin.files.chunks[htmlWebpackPlugin.options.head[chunk]].entry %>"></script>
  <% } %>

  <% for (file in htmlWebpackPlugin.files.css) { %> 
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[file] %>" />
  <% } %>

</head>
<body>
  <% for (var chunk in htmlWebpackPlugin.options.body) { %>
    <script src="<%= htmlWebpackPlugin.files.chunks[htmlWebpackPlugin.options.body[chunk]].entry %>"></script>
  <% } %>
</body>
</html>
