<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Jon Sakas</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

  <style>
    @import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:300,400,500,700');
    @import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700');
    @import url('https://fonts.googleapis.com/css?family=Kanit:200,300,400&display=swap');
  </style>

  <% if (APP_ENV == 'production') { %>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-128960496-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-128960496-1');
    </script>
  <% } %>

  <% for (var chunk in htmlWebpackPlugin.options.head) { %>
    <script src="<%= htmlWebpackPlugin.files.chunks[htmlWebpackPlugin.options.head[chunk]].entry %>"></script>
  <% } %>

  <% for (file in htmlWebpackPlugin.files.css) { %> 
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css[file] %>" />
  <% } %>

</head>
<body>
  <% for (var chunk in htmlWebpackPlugin.options.body) { %>
    <script src="<%= htmlWebpackPlugin.files.chunks[htmlWebpackPlugin.options.body[chunk]].entry %>"></script>
  <% } %>
</body>
</html>
