@import '~styles/variables';

.Menu {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 3rem;
  // background: $color-background;
  color: $color-text;
  z-index: 20;
  transition: all .2s;
  display: flex;

  &--closed {
    bottom: -3rem;
  }

  @media print {
    display: none;
  }
}

.MenuItem {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  background: rgba($color-secondary, .2);
  transition: background .2s;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: .8rem;
  letter-spacing: .3rem;

  &:hover {
    background: rgba($color-secondary, .4);
  }
}
