@import '~styles/variables';
@import '~styles/mixins';

.Resume {
  &__body {
    // @include animate-once(resume-enter, 1s);
    margin: 0 auto;
    max-width: 60rem;
    padding: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1em;
    overflow: scroll;
    border: 1px solid rgba($color-secondary, .3);

    h1 {
      color: rgba(#fff, .8);
      font-family: 'Raleway', sans-serif;
      font-weight: 300;
      letter-spacing: 1px;
    }

    h2 {
      color: rgba($color-primary, .9);
      font-family: 'Raleway', sans-serif;
      font-weight: 300;
      letter-spacing: 1px;
    }

    h3, h4, h5, h6 {
      font-weight: 100;
      color: rgba($color-primary, .8);
      font-family: 'Raleway', sans-serif;
    }

    p {
      letter-spacing: .1rem;
      font-weight: lighter;
    }

    a {
      font-weight: 400;
    }

    @media print {    
      background: rgba(#fff, .9);
      color: #111;  
      padding: 0;
      border: 0;
      max-width: 100%;
      background: none;
    }
  }
}

@keyframes resume-enter {
  0% {
    opacity: 0;
    transform: scale(.9);
  }
  
  100% {
    opacity: 1;

    transform: scale(1);
  }
}

@keyframes resume-exit {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  
  100% {
    opacity: 0;
    transform: scale(.95);
  }
}