@import '~styles/variables';

.Home {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  &__galaxy {
    position: absolute;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
  }

  &__navigate {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 4rem;
    left: 50%;
    transform: translate(-50%, 0);
  }

  @keyframes pulse {
    0% {
      width: 0;
      height: 0;
      background: rgba(255, 255, 255, .3);
    }

    100% {
      width: 2rem;
      height: 2rem;
      background: rgba(255, 255, 255, 0);
    }
  }

  &__intro {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;

    h1, p {
      font-weight: lighter;
      color: $color-text;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
