@import '~styles/variables';

.Experiments {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 20rem);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, 200px);
    max-width: 60rem;
  }
}

.Experiment {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .4s;
  cursor: pointer;
  border: 1px solid rgba($color-secondary, .3);

  &:hover {
    background: rgba($color-primary, .1);
    border: 1px solid rgba($color-secondary, 1);
  }
}

.ExperimentView {
  position: relative; 

  h2 {
    font-weight: 300;
    color: $color-tertiary;
  }

  &__iframe {
    overflow: hidden;
    background: #fff;
    border-radius: 2rem;
    width: 100vw;
    height: 100vw;
    max-width: 70vw;
    max-height: 60vh;
    box-shadow: 0px 0px 80px 20px rgba(lighten($color-tertiary, 10), .3);
    opacity: 0;
    transition: opacity 1s;

    &--loaded {
      opacity: 1;
    }

    iframe {
      border: 0;
      width: 100%;
      height: 100%;
    }    
  }

  &__header {
    position: relative;
  }

  &__buttons {
    position: absolute;
    right: 0;
    bottom: 0;
  }

  &__button {
    background: rgba($color-tertiary, .15);
    transition: background .2s;
    color: #fff;
    border-radius: 2rem;
    padding: .5rem 1rem;
    position: relative;
    margin-top: .5rem;
    display: inline-block;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-size: .65rem;
    margin-left: 10px;

    &:first-child {
      margin-left: 0px;
    }

    &:hover {
      background: rgba($color-tertiary, .5);
    }
  }
}

.exp-transition {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;

  &--entering {
    animation: exp-enter;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
  
  &--exiting {
    animation: exp-exit;
    animation-duration: .2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  @keyframes exp-enter {
    0% {
      opacity: 0;
    }
    
    100% {
      opacity: 1;
      left: 0px;
    }
  }
  
  @keyframes exp-exit {
    0% {
      opacity: 1;
      left: 0;
    }
    
    100% {
      opacity: 0;
    }
  }
}
