@import '~styles/variables';

.Experiments {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 20rem);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, 200px);
    max-width: 60rem;
  }
}

.Experiment {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .4s;
  cursor: pointer;
  border: 1px solid rgba($color-secondary, .3);

  &:hover {
    background: rgba($color-primary, .1);
    border: 1px solid rgba($color-secondary, 1);
  }
}
