@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:300,400,500,700');

html, body {
  font-family: 'IBM Plex Mono', sans-serif;
  color: #666;
  padding: 0;
  margin: 0;
  background: #000;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.Home {
  width: 100vw;
  height: 100vh;
  position: relative;

  &__galaxy {
    position: absolute;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
  }

  &__intro {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;

    h1, p {
      font-weight: lighter;
      color: #f1f1f1;
    }
  }
}
