@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:300,400,500,700');

html, body {
  font-family: 'IBM Plex Mono', sans-serif;
  color: #666;
  padding: 0;
  margin: 0;
  background: #000;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.fade-in {
  transition: opacity 5s, height 1s;
  opacity: 0;
  height: 0;

  &--entered {
    opacity: 1;
    height: 50px;
  }
}

.Home {
  width: 100vw;
  height: 100vh;
  position: relative;

  &__galaxy {
    position: absolute;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
  }

  &__navigate {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 4rem;
    left: 50%;
    transform: translate(-50%, 0);
  }

  &__navigate-circle {
    background: #fff;
    width: .25rem;
    height: .25rem;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
  }

  &__navigate-pulse {
    background: rgba(255, 255, 255, .3);
    border-radius: 50%;
    cursor: pointer;
    position: absolute;

    animation-name: pulse;
    animation-iteration-count: infinite;
    animation-duration: 2s;
  }

  @keyframes pulse {
    0% {
      width: 0;
      height: 0;
      background: rgba(255, 255, 255, .6);
    }

    100% {
      width: 2rem;
      height: 2rem;
      background: rgba(255, 255, 255, 0);
    }
  }

  &__intro {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;

    h1, p {
      font-weight: lighter;
      color: #f1f1f1;
      margin: 0;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
