@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:300,400,500,700|Raleway:300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import '~styles/variables.scss';

html, body {
  font-family: 'Raleway', sans-serif;
  color: $color-text;
  padding: 0;
  margin: 0;
  transition: background 1s;

  @media print {
    background: none;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  color: $color-primary;
}

#app {
  overflow: hidden;
  position: absolute; 
  top: 0;
  right: 0;
  bottom: 0; 
  left: 0;

  @media print {
    overflow: visible;
  }
}

.LoadingScreen {
  position: absolute; 
  top: 0;
  right: 0;
  bottom: 0; 
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}