@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:300,400,500,700|Roboto:300,400,500,700|Raleway:300,400,500,600,700,800,900');
@import '~styles/variables.scss';

html, body {
  font-family: 'IBM Plex Mono', sans-serif;
  color: $color-text;
  padding: 0;
  margin: 0;
  background: $color-background;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  color: $color-primary;
}

.fade-in {
  transition: opacity 5s, height 1s;
  opacity: 0;
  height: 0;

  &--entered {
    opacity: 1;
    height: 50px;
  }
}

.page {
  overflow: scroll;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.page-transition {
  overflow: visible;
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100vw;
  max-height: 100vh;
  transition: all 1s;

  
  &--entering {
    animation: enter;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  &--entered {
    opacity: 1;
  }
  
  &--exiting {
    animation: exit;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  &--exited {
    opacity: 0;
  }
}

@keyframes enter {
  0% {
    opacity: 0;
    left: -50px;
  }
  
  100% {
    opacity: 1;
    left: 0px;
  }
}

@keyframes exit {
  0% {
    opacity: 1;
    left: 0;
  }
  
  100% {
    opacity: 0;
    left: 50px;
  }
}